.vc-lilac {
    --vc-accent-50: #f3e5f5;
    --vc-accent-100: #e1bee7;
    --vc-accent-200: #ce93d8;
    --vc-accent-300: #ba68c8;
    --vc-accent-400: #ab47bc;
    --vc-accent-500: #c8a2c8;
    --vc-accent-600: #a17da1;
    --vc-accent-700: #7c597c;
    --vc-accent-800: #583859;
    --vc-accent-900: #371938;
}